.cinema-body {
background: url(../img/back2.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%;
height: 100%;
}
.navbar-inverse {
background-color: rgba(8, 45, 94, 0.95);
min-height: 10%;
border: none;
opacity: 0.95;
}
.logo-img {
  height: 100px;
}
.welcome-title {
  color: white;
  margin-right: 10px;
  margin-top: 100px;
}
.container {
  margin: 64px;
}
.img-social {
  height: 40px;
  width: 40px;
}
.img-movies {
  height: 260px;
  padding: 6px;
  margin: 22px;
}
.titulo-text {
font-size: 18px;
font-weight: bolder;
color: white;
padding: 10px;
}
.services-text {
color: white;
padding-top: 5px;
}
.jumbotron {
background: url(../img/back1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
min-height: 500px;
margin-bottom: 0px;
}
.jumbotron-img {
  margin-top: 20px;
}
.jumbotron-text {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.redes-sociales {
  margin-top: 20px;
}
.titulo-cartelera {
  background-color: #0047b3;
  min-height: 45px;
  opacity: 0.95;
}
.movie-title {
  color: white;
}
.movies-row {
opacity: 0.8;
min-height: 350px;
padding-left: 15px;
padding-right: 15px;
}
.movies-column {
  margin-top: 5px;
  min-height: 330px;
  border-color: white;
  border-style: dashed;
  border-width: 1px;
}
@media screen and (max-width:770px){
  .right-column{
    display: none;
  }
  .movies-row {
    min-height: 250px;
  }
  .movies-column {
    min-height: 230px;
  }
  .jumbotron {
    min-height: 350px;
  }
  h2 {
    font-size: 22px;
  }
  .titulo-cartelera {
    font-size: 15px;
  }
  .jumbotron {
    min-height: 400px;
  }
  .jumbotron-img {
    margin-top: 20px;
  }
}
.left-column {
  border-color: white;
  border-right: 1px;
  border-style: dashed;
}
.user_data {
  margin-top: 10px;
  font-size: 40px;
  color: white;
}
.input-element {
  width: 100%;
  height: 28px;
  padding: 10px;
  color: white;
  background-color: white;
  opacity: 0.4;
  border-radius: 4px;
  border-style: none;
  margin-top: 5px;
}
